html {
    position: relative;
    min-height: 100%;
    background: url(../img/newspapers2.jpeg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.brand-logo {
    margin-left: 10px;
}

#navLinks {
    margin-left: 210px;
}